@theme {
  --color-palette-100: #F2F3AE;
  --color-palette-200: #D58936;
  --color-palette-300: #A44200;
  --color-palette-400: #69140E;
  --color-palette-500: #3C1518;
  --color-palette-600: #2D2424;
}
