@import "tailwindcss";
@import "@repo/theme/styles";

:root {
  --appbar-height: 48px; /* Adjust based on your actual AppBar height */
  --full-appbar-height: 88px; /* Adjust based on your actual AppBar height */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg-default);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-bg-default);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }

  .imgDark {
    display: unset;
  }
}
